body{
    display: block;
    margin: auto;
  background-color: #d1fef9;
  /* background-color: white; */
   
  }
  
  .base{
    width: 100%;
    margin: 10rem;
  }
  .breaker{
   margin: 0 auto;
   margin-top: 5rem;
   margin-bottom: 5rem;
    height: .05rem;
    width: 50rem;
    background-color: black;
  }



  .title{
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-decoration: underline solid black .3px;
  }

  .chessboard {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 4rem;
    /* border: 2px solid #333; */
}
.black {
    float: left;
    width: 40px;
    height: 40px;
    /* background-color: #999; */
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-size:25px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}


.B{

    color: black;
    font-family: 'Nunito';
    font-size:25px;

}

.W{
    color: red;
    font-family: 'Nunito';
    font-size:25px;
}

.idea-description{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin: 1rem 20% 0 20%;
font-family: 'Nunito';
}

.ul-locations{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 0 0;
    font-family: 'Nunito';
}

.bold-it{
    font-weight: 1000;
}

.span-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline solid black .3px;
  margin: 1rem 20% 0 0;
  font-family: 'Nunito';
  font-size: 20px;
}
/* 
.span-title-1-thoughts{
  display: flex;
} */





.image-2{
  height: 15rem;
  width: 15rem;
  margin: 0 1rem 0 1rem;
}
.images-container-2{
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 2rem 1rem;
}


.image-3{
  height: 15rem;
  width: 22rem;
  margin: 0 1rem 0 1rem;
}